.table-container {
    background-color: white;
    border-radius: 30px;
    width: 80dvw;
    max-height: 80dvh;
    margin-top: 10px;
    margin-left: 3%;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

    .table-container::-webkit-scrollbar {
        width: 8px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .table-container::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
    }

    .table-container::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 10px;
    }

    .table-container:hover {
        overflow-y: auto;
        scroll-behavior: smooth;
    }

        .table-container:hover::-webkit-scrollbar {
            opacity: 1;
        }


    .table-container button{
        border-color: transparent;
        border-radius: 10px;
        padding: 10px;
        background-color: var(--primary-color);
        margin-right: 5px;
        margin-left: 5px;
        text-align: center;
        color: white;
        font-family: var(--kadwa-bold);
        font-weight: 700;
        transition: all ease 0.3s;
        scale:0.7;
    }

    .table-container button:hover {
        background-color: crimson;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        scale: 0.8;
    }

    .table-container table {
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        border-collapse: collapse;
    }

        .table-container table thead {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: white;
            font-family: var(--kadwa-bold);
            font-weight: 700;
            font-size: 16px;
            text-align: center;
        }

            .table-container table thead tr {
                border-bottom: 3px solid var(--table-bottom-line-color);
            }

                .table-container table thead tr th {
                    padding: 15px;
                }

        .table-container table tbody {
            font-family: var(--kadwa);
            font-weight: 700;
            font-size: 14px;
            text-align: center;
        }

            .table-container table tbody tr {
                border-bottom: 3px solid var(--table-bottom-line-color);
            }

                .table-container table tbody tr td {
                    padding-top: 5px;
                }

.table-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .table-actions button {
        border-color: transparent;
        background-color: white;
        margin-right: 5px;
        margin-left: 5px;
    }

        .table-actions button:hover {
            cursor: pointer;
            background-color: transparent;
        }

        .table-actions button:disabled {
            filter: grayscale(100%);
        }

        .table-actions button img{
            max-width: 35px;
        }

        
